@font-face {
    font-family: 'MavenProLight100';
    src: url('../fonts/mavenprolight-100.eot');
    src: url('../fonts/mavenprolight-100.eot') format('embedded-opentype'),
         url('../fonts/mavenprolight-100.woff') format('woff'),
         url('../fonts/mavenprolight-100.ttf') format('truetype'),
         url('../fonts/mavenprolight-100.svg#MavenProLight100') format('svg');
}
@font-face {
    font-family: 'MavenProLight300';
    src: url('../fonts/mavenprolight-300.eot');
    src: url('../fonts/mavenprolight-300.eot') format('embedded-opentype'),
         url('../fonts/mavenprolight-300.woff') format('woff'),
         url('../fonts/mavenprolight-300.ttf') format('truetype'),
         url('../fonts/mavenprolight-300.svg#MavenProLight300') format('svg');
}