description = "Default"

[session]
security = "all"
==
<?php
function onStart() {
    $this['year'] = date('Y');
    $this['name'] = 'Robido';
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <title>{{ this.page.title }} - {{ name }}</title>
        <meta name="author" content="Robido">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% styles %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ [
            'assets/css/normalize.css',
            'assets/css/owl.carousel.css',
            'assets/css/app.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header"></header>

        <!-- Canvas -->
        <div class="off-canvas-wrap docs-wrap" data-offcanvas="">
            <div class="inner-wrap">

                <!-- Navigation -->
                {% partial "nav" %}

                <!-- Content -->
                <section id="layout-content">
                    {% if this.page.settings.url == '/' %}
                        {% page %}
                    {% else %}
                        <div class="row">
                            <div class="small-12 columns">
                                <h1>{{ this.page.title }}</h1>
                                <h3 class="subheader">{{ this.page.description }}</h3>
                                {% page %}
                            </div>
                        </div>
                    {% endif %}
                </section>

                <a class="exit-off-canvas"></a>

                <!-- Footer -->
                <footer id="layout-footer">
                    {% partial "footer" %}
                </footer>

            </div>
        </div>

        <!-- Scripts -->
        <script src="{{ [
            'assets/js/jquery.min.js',
            'assets/js/foundation.min.js',
            'assets/js/owl.carousel.min.js',
            'assets/js/app.js'
        ]|theme }}"></script>
        {% framework extras %}

    </body>
</html>